{% extends "base.html" %}

{% block title %}
Kid SignUp
{% endblock %}

{% block content %}
<form method="POST">
  <h3 align="center" style="padding: 8px;">== Sign Up ==</h3>
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="password1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
  </div>
  <div class="mb-3">
    <label for="password2" class="form-label">Password (Confirm)</label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
  </div>
  <button type="submit" class="btn" style="color: white; background-color: #0C3255;">Sign Up</button>
</form>
{% endblock %}